<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warped.andaleksei.ultimatefootballquiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.playModes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.singlePlayMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.playWithFriendMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.singlePlayGame"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.singlePlayMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.playWithFriendGame"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.popupWindowSinglePlayMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.popupWindowPlayWithFriend"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.hints"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.coins"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.warped.andaleksei.ultimatefootballquiz.popUpWindow"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopMe" />
        <activity android:name="com.warped.andaleksei.ultimatefootballquiz.options" />
        <activity android:name="com.warped.andaleksei.ultimatefootballquiz.copyright"></activity>
    </application>

</manifest>